body {
    background-color: rgb(177, 194, 211);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    cursor: pointer;
    color: black;
}

a:hover {
    font-weight: bold;
}

a:visited {
    color: black;
}

#foto-perfil {
    border-radius: 0px 25px 0px 25px;
}

#idiomas {
    text-align: end;
}

#idiomas li{
    display: inline;
    list-style: none;
}

.current-language {
    font-weight: 600;
}